# This file shows the env variables we will need to use
# Copy this file and rename the file to ".env" and fill in the env variables as needed
APP_PORT=4000
MONGO_CONNECTION_STRING=<the-mongo-connection-string>
